body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('achtergrond.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo {
    display: block;
    margin: 0 auto 20px; 
    max-width: 390px; /* Volledig = 580 */
    background-color: rgba(169, 223, 242, 1); /* Add blue background */
    padding: 20px; /* Optional: Adds spacing around the logo */
    border-radius: 8px; /* Optional: Rounds the corners */
}

label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1rem;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgba(169, 223, 242, 1);
    color: #fff; /* Default text color */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem; /* Increased text size */
}

input[type="submit"]:hover {
    background-color: rgba(169, 223, 242, 0.8);
    color: #000; /* Change text color to black on hover */
}
